#tecMexico{
	width: 14%;
	height: 8%;
	margin-left:10%;
}

#logo{
	width: 9%;
	height: 8%;
	margin-left:10%;
}

#sep{
	width: 25%;
	height: 8%;
	margin-left:10%;
}

#sesion{

	margin-left: 5%;
}

#mitexto{

	vertical-align: text-top;
}

#divTable {
	overflow-y: scroll;
	width: 100%;
	height: 320px;
  }

#divTable table {
   	width: 100%;
   	background-color: transparent;
  }

#divTable thead{
	
	background-position-x: center;
	background-position-y: static;
	
	width: 100%;
}

/**
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
*/